<article class="product-card">
  <div class="product-card__icon">
    <img
      width="120" height="120"
      [src]="(product.attributes.length ? '/assets/icons/' + product.type : '/assets/icons/' + product.attributes.type) + '.svg'" alt="">
  </div>

  <ng-container *ngIf="!product.attributes.length; else list">
    <h3 class="product-card__title">{{product.attributes.title}}</h3>
    <b class="product-card__price"> {{ product.attributes.price }} {{ 'RUB' | tuiCurrency }}</b>
  </ng-container>
  <ng-template #list>
    <dl class="product-card__list">
      <ng-container *ngFor="let product of product.attributes">
        <dt>{{ product.title }}</dt>
        <dd>
          <b>{{ product.price }} {{ 'RUB' | tuiCurrency }}</b>
        </dd>
      </ng-container>
    </dl>

  </ng-template>
  <div class="product-card__button">
    <button type="button" tuiButton appearance="primary" (click)="order(product)">Оформить заказ</button>
  </div>
</article>
