<form [formGroup]="form" class="form">
  <label class="form__field">
    <span class="form__label">
      Услуга
      <sup *ngIf="item.errors && item.hasError('required')"
      >*</sup
      >
    </span>
    <tui-combo-box
      tuiTextfieldSize="m"
      [formControl]="item"
      [tuiTextfieldLabelOutside]="true"
      [tuiTextfieldCleaner]="true"
      [readOnly]="services.length < 2"
    >
      <tui-data-list-wrapper
        *tuiDataList
        [items]="services"
      ></tui-data-list-wrapper>
    </tui-combo-box>
    <tui-error
      [formControl]="item"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <div class="form__field form__field--end">
    <tui-checkbox-labeled
      formControlName="setDetails"
      appearance="accent"
    >
    <b>Указать детали по работе</b>
    </tui-checkbox-labeled>
  </div>
  <app-order-details type="service" formControlName="details"></app-order-details>
</form>
