<form [formGroup]="form" class="form">
  <label class="form__field">
    <span class="form__label">
      Название услуги
      <sup *ngIf="name.errors && name.hasError('required')"
      >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      [readOnly]="true"
      [formControl]="name"
      [tuiTextfieldLabelOutside]="true"
      [pseudoInvalid]="!!(name.invalid && form.touched)"
    >
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error
      [formControl]="name"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <div class="form__field form__field--end">
    <tui-checkbox-labeled
      formControlName="setDetails"
      appearance="accent"
    >
    <b>Указать детали по работе</b>
    </tui-checkbox-labeled>
  </div>
  <app-order-details formControlName="details"></app-order-details>
</form>
