<div id="contacts" class="contacts">
  <div class="contacts__container container">
    <div class="contacts__item">
      <div class="contacts__icon">
        <tui-svg src="icons::place" width="25" height="25"></tui-svg>
      </div>
      <b>Адрес</b>
      <span>680510, Хабаровский край, <br />с. Тополево, ул. Центральная 2, лит.С</span>
    </div>
    <div class="contacts__item">
      <div class="contacts__icon">
        <tui-svg src="icons::email" width="25" height="25"></tui-svg>
      </div>
      <b>Эл. почта</b>
      <a href="mailto: info@dts-rent.ru" color="accent">info@dts-rent.ru</a>
    </div>
    <div class="contacts__item">
      <div class="contacts__icon">
        <tui-svg src="icons::phone" width="25" height="25"></tui-svg>
      </div>
      <b>Телефон</b>
      <a href="tel: +7(962)5879804" class="link">+7(962)5879804</a>
    </div>
    <div class="contacts__item">
      <div class="contacts__icon">
        <tui-svg src="icons::clock" width="25" height="25"></tui-svg>
      </div>
      <b>Время работы</b>
      <span>Без выходных</span>
    </div>
  </div>
</div>
