<div id="contacts" class="contacts">
  <div class="contacts__container container">
    <div class="contacts__item">
      <div class="contacts__icon">
        <tui-svg src="icons::place" width="25" height="25"></tui-svg>
      </div>
      <b>Адрес</b>
      <span>г. Хабаровск, ул. Льва Толстого , д. 15, оф.I-II</span>
    </div>
    <div class="contacts__item">
      <div class="contacts__icon">
        <tui-svg src="icons::email" width="25" height="25"></tui-svg>
      </div>
      <b>Эл. почта</b>
      <a href="mailto:sales@dtsk.ru" tuiLink class="link link--inverse">sales@dtsk.ru</a>
    </div>
    <div class="contacts__item">
      <div class="contacts__icon">
        <tui-svg src="icons::phone" width="25" height="25"></tui-svg>
      </div>
      <b>Телефон</b>
      <a href="tel: +7(4212)737891" tuiLink class="link link--inverse">+7(4212)737891</a>
    </div>
    <div class="contacts__item">
      <div class="contacts__icon">
        <tui-svg src="icons::mobile" width="25" height="25"></tui-svg>
      </div>
      <b>Сотовый</b>
      <a href="tel: +7(924)1139582" tuiLink class="link link--inverse">+7(924)113-95-82</a>
    </div>
  </div>
</div>

