<tui-loader [showLoader]="isLoading$ | async">
  <swiper-container
    #swiperRef
    init="false"
    class="hero"
    [class.hero--loaded]="services$ | async"
  >
    <swiper-slide *ngFor="let service of services$ | async">
      <div class="hero__wrapper">
        <div class="hero__image">
          <img *ngIf="service.attributes.image.data as image" [src]="setImageUrl(image.attributes.formats['large'].url)" alt="" />
        </div>
        <div class="hero__content container">
          <h2>{{service.attributes.title}}</h2>
          <p>{{service.attributes.description}}</p>
          <button type="button" tuiButton appearance="accent">Оформить заявку</button>
          <tui-svg src="icons::clock"></tui-svg>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</tui-loader>
