<div class="alert">
  <button
    tuiIconButton
    type="button"
    appearance="icon"
    icon="icons::close"
    size="xs"
    class="alert__close"
    (click)="close()"
  ></button>

  <div *ngIf="success" class="alert__logo alert__logo--success">
    <tui-svg src="icons::success"></tui-svg>
  </div>
  <div *ngIf="failure" class="alert__logo alert__logo--failure">
    <tui-svg src="icons::failure"></tui-svg>
  </div>
  <h1 class="alert__title" [innerHTML]="heading"></h1>
  <button
    tuiButton
    type="button"
    [appearance]="success ? 'primary' : 'secondary'"
    size="m"
    class=""
    (click)="close()"
  >
    {{ success ? 'Отлично!' : 'Закрыть' }}
  </button>
</div>
