<div [formGroup]="form" class="form__group">
  <label class="form__field">
    <span class="form__label">
      Ваше имя
      <sup *ngIf="name.errors && name.hasError('required')"
      >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      [formControl]="name"
      [tuiTextfieldLabelOutside]="true"
      [pseudoInvalid]="!!(name.invalid && form.touched)"
    >
      <input tuiTextfield type="text" />
    </tui-input>
        <tui-error
          [formControl]="name"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
  </label>
  <label class="form__field">
      <span class="form__label">
        Компания
        <sup
          *ngIf="company.errors && company.hasError('required')"
        >*</sup
        >
      </span>
    <tui-input
      tuiTextfieldSize="m"
      [formControl]="company"
      [tuiTextfieldLabelOutside]="true"
      [pseudoInvalid]="!!(company.invalid && form.touched)"
    >
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error
      [formControl]="company"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="form__field">
      <span class="form__label">
        Email
        <sup
          *ngIf="email.errors && email.hasError('required')"
        >*</sup
        >
      </span>
    <tui-input
      tuiTextfieldSize="m"
      [formControl]="email"
      [tuiTextfieldLabelOutside]="true"
      [pseudoInvalid]="!!(email.invalid && form.touched)"
    >
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error
      [formControl]="email"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="form__field">
    <span class="form__label">
      Телефон
      <sup *ngIf="phone.errors && phone.hasError('required')"
      >*</sup
      >
    </span>
    <tui-input-phone
      tuiTextfieldSize="m"
      [formControl]="phone"
      [tuiTextfieldLabelOutside]="true"
      [pseudoInvalid]="!!(phone.invalid && form.touched)"
    >
      <input tuiTextfield autocomplete="tel" />
    </tui-input-phone>
    <tui-error
      [formControl]="phone"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
</div>
