<tui-root>
  <app-page-header></app-page-header>
  <app-hero></app-hero>
  <section class="page-section page-section--about">
    <div class="page-section__container container">
      <div class="page-section__row">
        <div class="page-section__col">
          <h2 class="title title--lvl-2">
            Работаем с <span>1997</span> года в <br class="br br--show-xs" />
            Дальневосточном регионе.
          </h2>
          <!--					<small class="text text_level_4">Хабаровский край, ЕАО, Амурская область, Приморский край</small>-->
        </div>
        <div class="page-section__col">
          <p class="text">Хорошая репутация, поставка качественных нефтепродуктов,<br />
            обширная база надежных поставщиков и клиентов.</p
          >
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="page-section page-section--services">
    <div class="page-section__container container">
      <app-services></app-services>
    </div>
  </section>
  <section id="products" class="page-section page-section--products">
    <div class="page-section__container container">
      <h2 class="title title--lvl-2">Наши <span>товары</span></h2>
      <p class="text">
        Вы можете приобрести у нас товары отптом и в розницу. Мы реализуем продукцию на собственных АЗС.<br
        class="br br--show-xs"
      />
        Отпускаем товар по топливным картам и ведомостям.
      </p>
      <app-products></app-products>
    </div>
  </section>
  <div
    class="page-section page-section--promo"
  >
    <div class="page-section__container container">
      <h2 class="title title--lvl-2 title--white">Ищете надежного исполнителя?</h2>
      <p class="text text--white">
        У нас большой опыт и мы готовы<br />
        выполнить работу качественно и в срок.
      </p>
      <a href="#contacts" type="button" tuiButton>Свяжитесь с нами</a>
    </div>
  </div>
  <app-support></app-support>
  <app-contacts></app-contacts>
  <app-page-footer></app-page-footer>
</tui-root>
