@use '../scss/abstracts' as *;

.page-section {
  @include mq(md) {
    margin-top: 20px;
  }

  &--about {
    margin-top: 60px;
    margin-bottom: 80px;

    @include mq(md) {
      margin-top: 80px;
      margin-bottom: 100px;
    }
  }

  &--services {
    padding-top: 60px;
    padding-bottom: 40px;
    overflow: hidden;

    @include mq(md) {
      padding-bottom: 100px;
    }

    @include mq(lg) {
      padding-bottom: 120px;
    }
  }

  &--products {
    position: relative;
    text-align: center;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: -125px;
      left: 0;
      width: 100%;
      height: 1115px;
      background: url('/assets/images/bg-services.png');
      background-position: center center;
      background-size: cover;
      z-index: -1;
    }
  }

  &--advantages {
    margin-bottom: 40px;
    text-align: center;
  }

  &--promo {
    margin-top: 0;
    text-align: center;
    background: url('/assets/images/bg-promo.jpg');
  }

  &_text_center {
    text-align: center;
  }

  &__container {
    .page-section--products & {
      padding-bottom: 80px;
    }

    .page-section--promo & {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
