<tui-loader [showLoader]="isLoading$ | async">
  <div class="services" [class.services--loaded]="services$ | async">
    <div class="services__nav" [class.services__nav--hidden]="currentService">
      <h3 class="title title--lvl-3">Наши <span>услуги</span></h3>
      <ul class="services__list">
        <li
          *ngFor="let service of services$ | async"
          class="services__list-item"
          [class.active]="service === currentService"
          v-for="service of state.services"
          :key="service"
          (click)="setContent(service)"
        >
          <span>{{ service.attributes.name }}</span>
        </li>
      </ul>
      <small>* Безналичный расчет с НДС, без НДС</small>
    </div>
    <div class="services__main" [class.active]="currentService">
      <button type="button" class="services__back" (click)="setContent(null)">
        <tui-svg src="icons::arrow-left"></tui-svg>
        <span>Назад</span>
      </button>
      <div *ngFor="let service of services$ | async" class="services__content">
        <div *ngIf="service === currentService">
          <h4 class="title title--lvl-4">{{ service.attributes.name }}</h4>
          <div [innerHTML]="service.attributes.description"></div>
        </div>
      </div>
      <div class="services__button">
        <button type="button" tuiButton appearance="primary" (click)="order(currentService)">Оформить заявку</button>
      </div>
    </div>
  </div>
</tui-loader>
