<footer class="page-footer">
  <div class="page-footer__container container">
    <div class="page-footer__top">
      <small>2023 © ООО «ДТСК»</small>
      <ul class="page-footer__nav">
        <li>
          <a href="#services" tuiLink class="link link--inverse">Услуги</a>
        </li>
        <li>
          <a href="#products" tuiLink class="link link--inverse">Нефтепродукты</a>
        </li>
        <li>
          <a href="#support" tuiLink class="link link--inverse">Обратная связь</a>
        </li>
        <li>
          <a href="#contacts" tuiLink class="link link--inverse">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
