<footer class="page-footer">
  <div class="page-footer__container container">
    <div class="page-footer__top">
      <small>2022 © ООО «АНТЕЙ»</small>
      <ul class="page-footer__nav">
        <li>
          <a href="#services" class="link">Услуги</a>
        </li>
        <li>
          <a href="#products" class="link">Нефтепродукты</a>
        </li>
        <li>
          <a href="#support" class="link">Обратная связь</a>
        </li>
        <li>
          <a href="#contacts" class="link">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
