@use '../../scss/abstracts' as *;

.advantages {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  @include mq(md) {
    grid-template-columns: repeat(2, auto);
  }

  @include mq(lg) {
    grid-template-columns: repeat(3, auto);
  }

  @include mq(xl) {
    grid-template-columns: repeat(4, auto);
  }

  &__item {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: start;
    grid-template-areas:
      'icon title'
      'icon text';
    align-content: start;
    text-align: left;
    column-gap: 20px;
    row-gap: 12px;

    @include mq(xl) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'icon'
        'title'
        'text';
      justify-content: center;
      text-align: center;
    }

    &--idea {
      @include mq(lg) {
        grid-column: 2 / span 2;
      }

      @include mq(xl) {
        grid-column: unset;
      }
    }

    tui-svg {
      width: 48px;
      height: 48px;
      color: var(--color-bg-accent);
      //
      //&[src='icons::delivery'] {
      //  width: 60px;
      //}
    }

    b {
      grid-area: title;
      font-family: var(--font-family);
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }

    p {
      max-width: 500px;
      grid-area: text;
      font-family: var(--font-family);
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__icon {
    grid-area: icon;
  }
}
