<div class="advantages">
  <div class="advantages__item">
    <div class="advantages__icon">
      <tui-svg src="icons::hight-quality"></tui-svg>
    </div>
    <b>Высокое<br /> качество продукции</b>
    <p>Наша компания поставляет только проверенные нефтепродукты высокого качества</p>
  </div>
  <div class="advantages__item">
    <div class="advantages__icon">
      <tui-svg src="icons::time"></tui-svg>
    </div>
    <b>Надежность и своевременность поставок</b>
    <p>Благодаря собственному транспорту мы гарантируем точность и надежность поставки,
    неся прямую ответсвенность за качество и количество товара.</p>
  </div>
  <div class="advantages__item">
    <div class="advantages__icon">
      <tui-svg src="icons::dialog"></tui-svg>
    </div>
    <b>Гибкие условия работы</b>
    <p>Мы предлагаем индивидуальный подход к каждому клиенту,
      учитывае его требования и потребности</p>
  </div>
  <div class="advantages__item">
    <div class="advantages__icon">
      <tui-svg src="icons::goods"></tui-svg>
    </div>
    <b>Доступность продукции</b>
    <p>Наличие собственной нефтебазы и сотрудничество с сетью заправочных станций гарантируют,
      что наш товар всегда в наличии</p>
  </div>
  <div class="advantages__item">
    <div class="advantages__icon">
      <tui-svg src="icons::truck"></tui-svg>
    </div>
    <b>Комлексный сервис</b>
    <p>Мы предоставляем услуги не только по поставке нефтепродуктов, но и доставке,
      включая заправку техники на месте выполнения работ</p>
  </div>
  <div class="advantages__item">
    <div class="advantages__icon">
      <tui-svg src="icons::team"></tui-svg>
    </div>
    <b>Профессиональный коллектив</b>
    <p>Более 20 лет на рынке нефтепродуктов, мы предоставляем профессиональную консультацию
      по подбору, установке и настройке оборудования</p>
  </div>
  <div class="advantages__item">
    <div class="advantages__icon">
      <tui-svg src="icons::equipment"></tui-svg>
    </div>
    <b>Оборудование в аренду</b>
    <p>Мы предоставляем цистерны и баки для храния и транспортировки нефтепродуктов</p>
  </div>
  <div class="advantages__item advantages__item--idea">
    <div class="advantages__icon">
      <tui-svg src="icons::idea"></tui-svg>
    </div>
    <b>Индивидуальные решения</b>
    <p>Мы готовы разработать уникальные решения для каждого клиента, включая услуги по приему, перевалке
    вагоноцистерн, хранению нефтепродуктов, складированию и выдаче нефтепродуктов по требованию</p>
  </div>
</div>
