<div class="advantages">
  <div class="advantages__item">
    <tui-svg src="icons::hight-quality"></tui-svg>
    <p>Высокое<br /> качество продукции</p>
  </div>
  <div class="advantages__item">
    <tui-svg src="icons::refueling"></tui-svg>
    <p>Заправка<br /> топливом на месте</p>
  </div>
  <div class="advantages__item">
    <tui-svg src="icons::individual-approach"></tui-svg>
    <p>Индивидуальный подход<br /> к каждому клиенту</p>
  </div>
  <div class="advantages__item">
    <tui-svg src="icons::goods"></tui-svg>
    <p>Всегда<br /> доступный товар</p>
  </div>
  <div class="advantages__item">
    <tui-svg src="icons::delivery"></tui-svg>
    <p>Доставка товара</p>
  </div>
  <div class="advantages__item">
    <tui-svg src="icons::time"></tui-svg>
    <p>Своевременные поставки</p>
  </div>
</div>
