<div [formGroup]="form" class="space-y-3">
  <label class="mt-4 block">
        <span class="mb-1 inline-block text-xs">
          Дата оправления
          <sup class="text-red" *ngIf="date.errors && date.hasError('required')"
          >*</sup
          >
        </span>
    <tui-input-date
      tuiUnfinishedValidator="Выберите дату"
      [tuiTextfieldLabelOutside]="true"
      tuiTextfieldSize="m"
      [min]="getMinDate()"
      [formControl]="date"
    >
    </tui-input-date>
    <tui-error
      [formControl]="date"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <div class="flex space-x-7">
    <label class="mb-3 block flex-grow">
      <span class="mb-1 inline-block text-xs">
        Мин. время
        <sup
          class="text-red"
          *ngIf="minTime.errors && minTime.hasError('required')"
        >*</sup
        >
      </span>
      <tui-input-time
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        formControlName="minTime"
        [items]="minTimePeriod"
      >
        мин. время
      </tui-input-time>
      <tui-error
        [formControl]="minTime"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <label class="block">
      <span class="mb-1 inline-block text-xs">
        Макс. время
        <sup
          class="text-red"
          *ngIf="maxTime.errors && maxTime.hasError('required')"
        >*</sup
        >
      </span>
      <tui-input-time
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        formControlName="maxTime"
        [items]="maxTimePeriod"
      >
        мин. время
      </tui-input-time>
      <tui-error
        [formControl]="maxTime"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
  </div>
  <label class="mt-4 block">
    <span class="mb-1.5 inline-block text-xs text-gray-500">
      Адрес проведения работы
      <sup class="text-red" *ngIf="address.errors && address.hasError('required')"
      >*</sup>
    </span>
    <tui-text-area formControlName="address"></tui-text-area>
    <tui-error
      formControlName="address"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
</div>
