<div [formGroup]="form" class="form__group">
  <label class="form__field">
        <span class="form__label">
          Дата оправления
          <sup *ngIf="date.errors && date.hasError('required')"
          >*</sup
          >
        </span>
    <tui-input-date
      tuiUnfinishedValidator="Выберите дату"
      [tuiTextfieldLabelOutside]="true"
      tuiTextfieldSize="m"
      [min]="getMinDate()"
      [formControl]="date"
    >
    </tui-input-date>
    <tui-error
      [formControl]="date"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="form__field">
      <span class="form__label">
        Мин. время
        <sup
          *ngIf="minTime.errors && minTime.hasError('required')"
        >*</sup
        >
      </span>
    <tui-input-time
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="minTime"
      [items]="minTimePeriod"
    >
      мин. время
    </tui-input-time>
    <tui-error
      [formControl]="minTime"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="form__field">
      <span class="form__label">
        Макс. время
        <sup
          *ngIf="maxTime.errors && maxTime.hasError('required')"
        >*</sup
        >
      </span>
    <tui-input-time
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="maxTime"
      [items]="maxTimePeriod"
    >
      мин. время
    </tui-input-time>
    <tui-error
      [formControl]="maxTime"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="form__field">
    <span class="form__label">
      Адрес проведения работы
      <sup *ngIf="address.errors && address.hasError('required')"
      >*</sup>
    </span>
    <tui-text-area formControlName="address"></tui-text-area>
    <tui-error
      formControlName="address"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
</div>
